


#content{
	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 4px 3px rgba(0,0,0, 0.4),
				0px 8px 13px rgba(0,0,0, 0.1),
				0px 18px 23px rgba(0,0,0, 0.1);
	color: white;
	
	

}



html{
	height:100%;
}
body{
	background: url(PeekBackground.jpg) ;
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans Condensed', sans-serif;
}



h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width: 450px;
	border-top:1px solid white;
	border-bottom: 1px solid rgba(0,0,0,.4);
}

.navbar-inverse{
	background-color: rgba(0,0,0,.0);
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
color: lightgray;
}

.navbar-inverse .navbar-nav>li>a:hover {
color: white;
}

.navbar-inverse .navbar-brand{
color: white;
}

.navbar-inverse .navbar-brand:hover {
color: white;
}

